@font-face { 
  font-family: futura; /*这里是说明调用来的字体名字*/ 
  src: url(../font/futuramdbtmedium.ttf); /*这里是字体文件路径*/ 
}
/*品味头部*/
.tasbanner{
	position: relative;
	width: 100%;
}
.tasbanner img{
	width: 100%;
}
.tasbanconer{
	position: absolute;
	top: 30%;
	left: 19%;
}
.tasbanconer h1{
	font-family: futura;
	/*font-weight: bold;*/
	font-size: 80px;
	color:#fff;
}
.tasbanconer a{
	padding: 25px 0;
	line-height: 3.5;
	border-bottom: 2px solid #fff;
	font-size: 35px;
	color:#fff;
}

/*贵州风情*/
.customs{
	width: 100%;
	background: #fff;
	overflow: hidden;
	padding: 50px 0;
}
.customsswbox{
	width: 1200px;
	margin: 0 auto;
}
.customsswbox .swiper-container{position: relative;}
#customs-swiper1{padding-bottom: 50px;}
#customs-swiper1 .swiper-slide{
	background: #fff;
	width: 100%;
	overflow: hidden;
}
/*sw内容共用样式*/
.swiper-container h2{
	font-family: futura;
	font-size: 40px;
	line-height: 1.5;
	color:#e50045;
}
.swiper-container h3{
	font-size: 30px;
	line-height: 2;
	color:#333;
}
.swiper-container i:after{
	display: block;
	content: "";
	width: 30px;
	border:2px solid #333;
	margin-top: 15px;
	margin-bottom: 30px;
}
.swiper-container p{
	font-size: 14px;
	line-height: 2.5;
}
/*sw内容共用样式结束*/
#customs-swiper1 .customssw-next,#customs-swiper1 .customssw-prev{
	position: absolute;
	bottom: 0;
	color:#000;
	line-height: 1;
	font-size: 30px;
	cursor: pointer;
	z-index: 1;
}
#customs-swiper1 .customssw-prev{
	left: 0;
}
#customs-swiper1 .customssw-next{
	left: 15%;
}
#customs-swiper1 .swiper-pagination-fraction{
	font-size: 18px;
	width: auto;
	bottom: 7px;
	line-height: 1;
	left: 8%;
}
#customs-swiper2 .swiper-slide img{
	width: 100%;
}

.cutomssw-tab2{
	position: absolute;
	left: 40%;
	width: 20%;
	height: 30px;
	bottom: 5px;
	z-index: 10;
	line-height: 1;
}
.cutomssw-tab2 .customssw-prev,.cutomssw-tab2 .customssw-next{
	position: absolute;
	color: #fff;
	bottom: 0;
	font-size: 24px;
	z-index: 15;
}
.cutomssw-tab2 .customssw-next{right: 0;}
#customs-swiper2 .swiper-pagination-fraction{
	font-size: 18px;	
	bottom: 4px;
	color:#fff;
}
/*问巷文化*/
.culture{
	width: 100%;
	background: #fff;
	overflow: hidden;
	/*padding: 50px 0;*/
}
.cultureswbox{
	width: 100%;
	position: relative;
}
#culture-swiper1{
	position: absolute;
	top: 0;
	left: 18%;
	z-index: 10;
	height: 100%;
	width: 410px;
}
#culture-swiper1 .swiper-wrapper{	
	height: 100%;
	width: auto;
}
#culture-swiper1 .swiper-slide{
	padding: 30px;
	background: rgba(237,237,237,.7);
}
#culture-swiper2 .swiper-slide img{
	width: 100%;
	height: 760px;
}
.culturesw-tab1{
	position: absolute;
	width: 100px;
	bottom: 20px;
	left: 20px;
	line-height: 1;
	font-size: 24px;
	color:#333;
	z-index: 14;
}
.culturesw-tab1 .culturesw-prev,.culturesw-tab1 .culturesw-next{
	position: absolute;
	bottom: 0;
	font-size: 30px;
	color:#333;
	z-index: 15;
	cursor: pointer;
}
.culturesw-tab1 .culturesw-next{right: 0;}
.culturesw-tab1 .swiper-pagination-fraction{bottom: 4px;}
.culturesw-tab2{
	position: absolute;
	width: 20%;
	bottom: 20px;
	left: 40%;
	line-height: 1;
	font-size: 18px;
	color:#fff;
	z-index: 14;
}
.culturesw-tab2 .culturesw-prev,.culturesw-tab2 .culturesw-next{
	position: absolute;
	bottom: 0;
	font-size: 24px;
	color:#fff;
	z-index: 15;
}
.culturesw-tab2 .culturesw-next{right: 0;}
.culturesw-tab2 .swiper-pagination-fraction{bottom: 4px;}

/*问巷环境*/
.ambient{
	width: 100%;
	background: #fff;
	padding: 50px 0;
	overflow: hidden;
}
.ambientswbox{
	width: 1200px;
	margin: 0 auto;
}
#ambient-swiper1 {margin-bottom: 30px;}
#ambient-swiper1 .swiper-slide{
	background: rgba(237,237,237,1);
}
#ambient-swiper1 .ambient-sw1-left{
	background: #fff;
}
#ambient-swiper1 i:after{
	margin-left: 35px;
	margin-top: 30px;
	margin-bottom: 20px;
}
#ambient-swiper1 p{margin-left: 35px;}
.ambientsw-tab1{
	position: absolute;
	left: 27.5%;
	bottom: 10px;
	width: 8%;
	font-size: 24px;
	line-height: 1;
}
.ambientsw-tab1 .ambientsw-prev,.ambientsw-tab1 .ambientsw-next{
	position: absolute;
	bottom: 0;
	font-size: 30px;
	z-index: 15;
	cursor: pointer;
}
.ambientsw-tab1 .ambientsw-next{right:0;}
.ambientsw-tab1 .swiper-pagination-fraction{bottom: 4px;}
#ambient-swiper2 .swiper-slide img{width: 100%;}
.ambientsw-tab2{
	position: absolute;
	left: 40%;
	bottom: 10px;
	width: 20%;
	font-size: 18px;
	line-height: 1;
	color:#fff;
	z-index: 14;
}
.ambientsw-tab2 .ambientsw-prev,.ambientsw-tab2 .ambientsw-next{
	position: absolute;
	bottom: 0;
	font-size: 24px;
	z-index: 15;
	cursor: pointer;
}
.ambientsw-tab2 .ambientsw-next{right:0;}
.ambientsw-tab2 .swiper-pagination-fraction{bottom: 4px;}

/*问巷经营*/
.operate{
	width: 100%;
	padding: 20px 0;
	background: #fff;
	overflow: hidden;
}
.operate .row{margin: 0;}
.oper-column1 .column1-L{
	background: rgb(237,237,237);
	overflow: hidden;
}
.oper-column1 .column1-L>div{
	margin-top: 30px;
	margin-left: 355px;
}
.oper-column1 img{width: 100%;height:100%;}
.oper-column2 img{width: 100%;height:100%;}
.oper-prompt{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: #e50045;
	text-align: center;
	opacity: 0;
	transition:all .5s;
}
.oper-prompt:hover{opacity: 1;}
.oper-prompt table{
	width: 100%;
	height: 100%;
}
.oper-prompt a{
	display: inline-block;
	font-size: 24px;
	color:#fff;
}
.oper-prompt a b{
	font-weight: normal;
	font-size: 130px;
}

/*问巷美食*/
.thispagenav{
	width: 100%;
	background: #e5e5e5;
	overflow: hidden;
	padding: 50px 0;
}
.thispagenav .pagenav-list{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.pagenav-list ul{
	overflow: hidden;
	text-align: center;	
}
.pagenav-list ul li a{
	display: block;
	font-size: 20px;
	color:#000;
}
.pagenav-list ul li a:hover{color:#e50044;}
.pagenav-list ul li b{
	font-weight: normal;
	font-size: 130px;	
	line-height: 1.2;
}
.pagenav-list ul li span{
	font-size: 22px;
	font-family: futura;
}
/*中式佳肴-醇美绿饮*/
.swiper-slide img{width: 100%;}
.cuisine,.greentea{
	width: 100%;
	padding: 50px 0;
	background: #fff;
	position: relative;
	overflow: hidden;
}
.cuisinesw-tab1,.greenteasw-tab1{
	position: absolute;
	left: 40%;
	bottom: 10px;
	width: 15%;
	font-size: 24px;
	line-height: 1;
}
.cuisinesw-tab1 .cuisinesw-prev,.cuisinesw-tab1 .cuisinesw-next,
.greenteasw-tab1 .greenteasw-prev,.greenteasw-tab1 .greenteasw-next{
	position: absolute;
	bottom: 0;
	font-size: 30px;
	z-index: 15;
	cursor: pointer;
}
.cuisinesw-tab1 .cuisinesw-next,.greenteasw-tab1 .greenteasw-next{right:0;}
.cuisinesw-tab1 .swiper-pagination-fraction,
.greenteasw-tab1 .swiper-pagination-fraction{bottom: 4px;}
.cuisinesw-tab2,.greenteasw-tab2{
	position: absolute;
	left: 40%;
	bottom: 10px;
	width: 20%;
	font-size: 20px;
	line-height: 1;
	color:#fff;
}
.cuisinesw-tab2 .cuisinesw-prev,.cuisinesw-tab2 .cuisinesw-next,
.greenteasw-tab2 .greenteasw-prev,.greenteasw-tab2 .greenteasw-next{
	position: absolute;
	bottom: 0;
	font-size: 24px;
	z-index: 15;
	cursor: pointer;
}
.cuisinesw-tab2 .cuisinesw-next,.greenteasw-tab2 .greenteasw-next{right:0;}
.cuisinesw-tab2 .swiper-pagination-fraction,
.greenteasw-tab2 .swiper-pagination-fraction{bottom: 4px;}

/*时尚咖啡*/
.coffee{
	width: 100%;
	background: #fff;
	overflow: hidden;
}
.coffeeswbox{width: 100%}
#coffee-swiper1 .swiper-slide{
	padding:0 50px;
}
.coffeesw-tab1{
	position: absolute;
	left: 5%;
	bottom: 10px;
	width: 15%;
	font-size: 24px;
	line-height: 1;
}
.coffeesw-tab1 .coffeesw-prev,.coffeesw-tab1 .coffeesw-next{
	position: absolute;
	bottom: 0;
	font-size: 30px;
	z-index: 15;
	cursor: pointer;
}
.coffeesw-tab1 .coffeesw-next{right:0;}
.coffeesw-tab1 .swiper-pagination-fraction{bottom: 4px;}
.coffeesw-tab2{
	position: absolute;
	left: 40%;
	bottom: 10px;
	width: 20%;
	font-size: 20px;
	line-height: 1;
	color:#fff;
}
.coffeesw-tab2 .coffeesw-prev,.coffeesw-tab2 .coffeesw-next{
	position: absolute;
	bottom: 0;
	font-size: 24px;
	z-index: 15;
	cursor: pointer;
}
.coffeesw-tab2 .coffeesw-next{right:0;}
.coffeesw-tab2 .swiper-pagination-fraction{bottom: 4px;}

/*问巷美酒*/
.foodwine{
	width: 100%;
	background: #fff;
	overflow: hidden;
	position: relative;
}
#foodwine-swiper1{
	position: absolute;
	z-index: 10;
	height: 100%;
	left:50%;
}
#foodwine-swiper1 .swiper-slide{
	background: rgba(255,255,255,.8);
	padding: 15px 35px;
}
.foodwinesw-tab1{
	position: absolute;
	left: 5%;
	bottom: 10px;
	width: 15%;
	font-size: 24px;
	line-height: 1;
}
.foodwinesw-tab1 .foodwinesw-prev,.foodwinesw-tab1 .foodwinesw-next{
	position: absolute;
	bottom: 0;
	font-size: 30px;
	z-index: 15;
	cursor: pointer;
}
.foodwinesw-tab1 .foodwinesw-next{right:0;}
.foodwinesw-tab1 .swiper-pagination-fraction{bottom: 4px;}
.foodwinesw-tab2{
	position: absolute;
	left: 40%;
	bottom: 10px;
	width: 20%;
	font-size: 20px;
	line-height: 1;
	color:#fff;
}
.foodwinesw-tab2 .foodwinesw-prev,.foodwinesw-tab2 .foodwinesw-next{
	position: absolute;
	bottom: 0;
	font-size: 24px;
	z-index: 15;
	cursor: pointer;
}
.foodwinesw-tab2 .foodwinesw-next{right:0;}
.foodwinesw-tab2 .swiper-pagination-fraction{bottom: 4px;}

/*底部图片展示*/
.bottomimg{
	width: 100%;
	padding: 50px 0;
	background: #fff;
	overflow: hidden;
}
.bottomimg .showbox{
	width: 1200px;
	margin:0 auto;
}
#bottomimg-container1{margin-bottom: 15px;}
.bottomimgswbox2{
	position: relative;
	width: 100%;
}
#bottomimg-container2{width: 520px;}
#bottomimg-container2 .swiper-slide{
	width: 130px;
	padding: 0 3px;
}
.active-nav{opacity: .7;}
.bottomimgsw-prev,.bottomimgsw-next{
	position: absolute;
	top:30%;
	cursor:pointer;
	color:#fff;
	font-size: 25px;
	z-index: 10;
	line-height: 1;
	background: #e50045;
}
.bottomimgsw-prev{left:25%;}
.bottomimgsw-next{right:25%;}

/*巷弄生活*/
.lifelist{
	width: 100%;
	padding: 50px 0;
	background: #e5e5e5;
	overflow: hidden;
}
.lifelist .lifeliswbox{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
#lifelist-swiper1{
	width: 100%;
}
#lifelist-swiper1 .swiper-slide{
	padding: 7px 10px;
}
.lifesummary{
	background: #fff;
	cursor: pointer;
	border:2px solid #e5e5e5;
}
.lifesummary:hover{border:2px solid #e50045;}
.lifesummary-current{
	background: #e50045;
	border:2px solid #e50045;
	color:#fff;
}
.lifesummary .summary-cont{
	padding: 15px;
}
.lifesummary .summary-cont h3{
	font-size: 16px;
	line-height: 1.2;
	margin-left: -8px;
}
.lifesummary-current .summary-cont h3{color:#fff;}
.lifesummary .summary-cont p{
	margin-top: 5px;
	line-height: 2;
	font-size: 12px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.lifesummary .summary-cont>div{
	position: relative;
	margin-top: 20px;
	line-height: 1;
}
.lifesummary .summary-cont>div span{font-size: 12px;}
.lifesummary .summary-cont>div span em{
	vertical-align: middle;
	font-size: 12px;
}
.lifesummary .summary-cont>div time{
	position: absolute;
	top:2px;
	right:0;
	font-size: 13px;
	color:#999;
}
.lifesummary-current .summary-cont>div time{color:#fff;}
.lifelistsw-tab1{
	width: 100%;
	position: absolute;
	top:38%;
	z-index: 10;
}
.lifelistsw-prev,.lifelistsw-next{
	position: absolute;
	cursor: pointer;
	font-size: 80px;
	color: #000;
	opacity: .5;
	user-select: none;
}.lifelistsw-prev:hover,.lifelistsw-next:hover{opacity: 1;}
.lifelistsw-prev{left:-115px;}
.lifelistsw-next{right:-115px;}
/*巷弄生活活动详细内容*/
.lifedetails{
	width: 100%;
	padding: 50px 0;
	background: #fff;
	overflow:hidden;
}
.lifedetails .lifed-cont{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.lifed-cont h2{
	font-size: 40px;
	font-family: futura;
	color:#e50045;
}
.lifed-cont-title{
	position: relative;
	width: 100%;
	margin: 30px 0;
}
.lifed-cont-title h3{
	font-weight: normal;
	font-size: 28px;
	color:#666;
	margin-left: -8px;
}
.lifed-cont-title>div{
	position: absolute;
	top: 5px;
	right: 0;
}
.lifed-cont-title>div span{
	font-size: 12px;
}
.lifed-cont-title>div span em{
	font-size: 16px;
	vertical-align: middle;
}
.lifed-cont-title>div time{
	font-size: 14px;
	color:#999;
	margin-left: 50px;
}
.lifed-cont i:after{
	display: block;
	content: '';
	width: 100%;
	height: 1px;
	background: #ccc;
	margin-bottom: 35px;
}
.lifed-cont p{
	font-size: 14px;
	line-height: 2;
	margin-bottom: 15px;
	text-align: justify;
}
.lifedetails-swiper{
	margin-top: 80px;
	width: 100%;
}
.lifedetailssw-tab{
	position: absolute;
	width: 100%;
	top: 45%;
	z-index: 10;
}
.lifedetailssw-prev,.lifedetailssw-next{
	position: absolute;
	font-size: 40px;
	color:#fff;
	padding: 0 10px;
	background: #e50045;
	cursor: pointer;
}
.lifedetailssw-next{right: 0;}
/*合作品牌*/
.brandlist{
	width: 100%;
	background: #000;
	padding: 30px 0;
	overflow: hidden;	
}
.brandliswbox{
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
#brandlist-swiper1 .swiper-slide{
	height: 300px;
	border: 1px solid #1b1b1b;
	background: #000;
	overflow: hidden;
}
.brandsummary{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.brandsummary .summary-img{
	width: 100%;
	height: 100%;
}
.brandsummary .summary-img img{
	position: absolute;
	width: 125px;
	height: 34px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.brandsummary .summary-cont{
	position: absolute;
	top:100%;
	width: 100%;
	height: 100%;
	background: #000;
	color:#fff;
	transition: all .5s;
	padding: 15px;
}
.brandsummary:hover .summary-cont{top:0;}
.brandsummary .summary-cont h3{
	padding-left: 10px;
	border-left: 4px solid #e50045;
	font-size: 26px;
	line-height: 1;
	color:#e50045;
}
.brandsummary .summary-cont p{
	padding: 15px;
	text-align: justify;
	line-height: 2;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
}
.brandsummary .summary-cont span{
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 25px;
	margin: 0 auto;
	width: 80%;
	border-top: 1px solid #fff;
	padding-top: 5px;
}
.brandlistsw-tab1{
	position: absolute;
	top:340px;
	width: 100%;
	color:#fff;
	z-index: 10;
}
.brandlistsw-prev,.brandlistsw-next{
	position: absolute;
	bottom: 0;
	font-size: 50px;
	cursor: pointer;
	z-index: 15;
	opacity: .5;
}
.brandlistsw-prev:hover,.brandlistsw-next:hover{opacity: 1;}
.brandlistsw-prev{left: -100px;}
.brandlistsw-next{right: -100px;}

/*品牌内容*/
.brandcontbox{
	position: relative;
	width: 100%;
	padding: 50px 0;
	background: #e5e5e5;
	/*overflow: hidden;*/
}
.brandcontbox>.iconfont{
	position: absolute;
	width: 20%;
	bottom: -30px;
	left:40%;
	font-size: 30px;
	color:#e5e5e5;
	z-index: 10;
	line-height: 1;
	text-align: center;
}
.brandcont{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.brandconimg img{
	width: 234px;
	height: 65px;
}
.brandcont i:after{
	display: block;
	content: '';
	width: 80px;
	border: 2px solid #000;
	margin: 35px auto;
}
.brandcont p{
	font-size: 14px;
	line-height: 2;
}
.brandcont a{
	display: inline-block;
	padding: 10px 30px;
	font-size: 14px;
	background: #707070;
	color:#fff;
	margin-top: 30px;
}
.brandcont a:hover{background: #e50045;}
.brandcontsw-tab{
	position: absolute;
	width: 100%;
	top:70%;
	z-index: 10;
}
.brandcontsw-prev,.brandcontsw-next{
	position: absolute;
	bottom: 0;
	font-size: 50px;
	color:#000;
	cursor: pointer;
	z-index: 15;
}
.brandcontsw-prev{left: 0;}
.brandcontsw-next{right:0;}
/*产品图片列表*/
.brandpic{
	width: 100%;
	background: #fff;
	padding: 50px 0 50px 0;
}
.brandpicswbox{
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
#brandpic-swiper .swiper-slide>div{
	padding: 10px;
}
.brandpicsw-tab2{
	position: relative;
	/*width: 50%;*/
	/*left:25%;*/
	bottom: -20px;
	z-index: 10;
}
.brandpicsw-tab2 .brandpicsw-prev,.brandpicsw-tab2 .brandpicsw-next{
	position: absolute;
	bottom: 0;
	font-size: 24px;
	cursor: pointer;
	z-index: 15;
}
.brandpicsw-tab2 .brandpicsw-next{right: 0;}
.brandpicsw-tab2 .swiper-pagination{
	position: relative;
	padding: 0 20px;
	bottom: 5px;
}
.brandpicsw-tab2 .swiper-pagination-bullet{
	width: auto;
	height: auto;
	font-size: 20px;
	background: rgba(0,0,0,0);
	opacity: 1;
	margin: 0 5px;
}
.brandpicsw-tab2 .swiper-pagination-bullet-active{
	color:#e50045;
	background: rgba(0,0,0,0);
}



/*响应*/
@media only screen and (max-width: 1640px){}
@media screen and (max-width: 1500px) and (min-width: 1100px){
/*品味头部*/
	.tasbanconer {
	    top: 35%;
	    left: 25%;
	}
	.tasbanconer h1{
		font-size: 50px;
	}
	.tasbanconer a{
		font-size: 25px;
		line-height: 2.5;
		padding: 15px 0;
	}
/*问巷经营*/
	.oper-column1 .column1-L>div{
		margin-top: 20px;
		margin-left: 30px;
	}
	.column1-L h2 {
    	font-size: 33px;
    	line-height: 1;
	}
	.column1-L h3{font-size: 24px;}
	.column1-L i:after{margin: 15px 0;}

/*问巷美食-中式佳肴-咖啡-绿饮*/
	.foodsw h2{
		font-size: 36px;
		line-height: 1;
	}
	.foodsw h2 br{display: none;}
	.foodsw h3{font-size: 26px;}
	.foodsw i:after{margin: 10px 0;}

/*巷弄生活*/
	.lifelistsw-prev{left:0;}
	.lifelistsw-next{right:0;}

/*合作品牌*/
	.brandlistsw-prev{left: 0;}
	.brandlistsw-next{right: 0;}

}
@media screen and (max-width: 990px) and (min-width: 300px){
/*品味头部*/
	.tasbanconer{
		top: auto;
		bottom: 15%;
		left: 15px;
	}
	.tasbanconer h1{
		font-size: 26px;
	}
	.tasbanconer a{
		font-size: 20px;
		line-height: 2.5;
		padding: 15px 0;
	}
/*风情*/
	.customs{padding: 5px 0;}
	.customsswbox{width: 100%;}
	#customs-swiper1{padding-bottom: 0px;}
	#customs-swiper1 .swiper-slide{
		padding: 15px;
		background: #e8e8e8;
	}
	.cutomssw-tab2 .customssw-prev, .cutomssw-tab2 .customssw-next{font-size: 22px;}
	#customs-swiper2 .swiper-pagination-fraction{
		font-size: 12px;
		bottom: 6px;
	}
	.swiper-container h2{font-size: 20px;}
	.swiper-container h3{font-size: 16px;}
	.swiper-container p{
		font-size: 13px;
		line-height: 2;
	}
	.swiper-container i:after{
		margin-top: 10px;
		margin-bottom: 10px;
		width: 20px;
	}

/*问巷文化*/
	#culture-swiper1{
		width: 90%;
		height: 60%;
		top:0;
		left: 0;
		right:0;
		bottom:0;
		margin: auto;
	}
	.culturesw-tab2 .culturesw-prev, .culturesw-tab2 .culturesw-next{font-size: 22px;}
	.culturesw-tab2 .swiper-pagination-fraction{
		font-size: 12px;
		bottom: 7px;
	}
	#culture-swiper2 .swiper-slide img{height: auto;}
	/*#culture-swiper1 .swiper-wrapper{height: auto;}*/
	#culture-swiper1 .swiper-slide {padding: 10px;}

/*问巷环境*/
	.ambient{padding: 5px 0 0 0;}
	.ambientswbox{width: 100%;}
	#ambient-swiper1{margin-bottom: 0;}
	#ambient-swiper1 .ambient-sw1-left{
		background: rgba(237,237,237,1);
	}
	#ambient-swiper1 .swiper-slide{
		padding: 15px;
	}
	#ambient-swiper1 i:after{
		margin: 15px 0;
	}
	#ambient-swiper1 p{
		margin-left: 0;
		width: 100%;
	}
	.ambientsw-tab2 .ambientsw-prev, .ambientsw-tab2 .ambientsw-next{font-size: 22px;}
	.ambientsw-tab2 .swiper-pagination-fraction{
		font-size: 12px;
		bottom: 7px;
	}

/*问巷经营*/
	.operate{padding: 5px 0;}
	.oper-column1 .column1-L{padding: 20px 20px 0 20px;}
	.oper-column1 .column1-L>div{
		margin: 0;
	}
	.oper-prompt a{font-size: 12px;}
	.oper-prompt a b{font-size: 60px;}

/*问巷美食*/
	.thispagenav .pagenav-list{width: 100%;}
	.pagenav-list ul li a{font-size: 1.2rem;padding: 10px 0;}
	.pagenav-list ul li b{font-size: 80px;}
	.pagenav-list ul li span{font-size: 1.2rem;}
	.bottomimg{padding: 5px 0;}
	.bottomimg .showbox{width: 100%;}
	#bottomimg-container1{margin-bottom: 10px;}
	#bottomimg-container2{width: 60%;}
	.bottomimgsw-prev,.bottomimgsw-next{
		top:16%;
		font-size: 18px;
	}
	.bottomimgsw-prev{left:12%;}
	.bottomimgsw-next{right:12%;}
/*中式佳肴-咖啡-绿饮-美酒*/
	.cuisine{padding: 5px 0 0 0;}
	#cuisine-swiper1 .swiper-slide,#coffee-swiper1 .swiper-slide,#greentea-swiper1 .swiper-slide{
		background: rgb(237,237,237);
		padding: 20px;
	}
	.coffee{padding: 5px 0;}
	.greentea{padding: 0;}
	/*美酒*/
	.foodwine{padding: 5px 0;}
	#foodwine-swiper1{
		height: auto;
		top:35%;
		left:0;
	}
	.cuisinesw-tab2 .cuisinesw-prev, .cuisinesw-tab2 .cuisinesw-next, .greenteasw-tab2 .greenteasw-prev, .greenteasw-tab2 .greenteasw-next,.coffeesw-tab2 .coffeesw-prev, .coffeesw-tab2 .coffeesw-next,.foodwinesw-tab2 .foodwinesw-prev, .foodwinesw-tab2 .foodwinesw-next{font-size: 22px;}
	.cuisinesw-tab2 .swiper-pagination-fraction, .greenteasw-tab2 .swiper-pagination-fraction,.coffeesw-tab2 .swiper-pagination-fraction,.foodwinesw-tab2 .swiper-pagination-fraction{
		font-size: 12px;
		bottom:7px;
	}
/*巷弄生活*/
	.lifelist{padding: 5px 0 10px 0;}
	.lifelist .lifeliswbox{
		width: 100%;
		padding-bottom: 30px;
	}
	.lifelistsw-tab1{
		width: 20%;
		position: absolute;
		left:37.5%;
		font-size: 12px;
		line-height: 1;
		top:auto;
		bottom:0;
	}
	.lifelistsw-tab1 .swiper-pagination{
		bottom: 6px;
	}
	.lifelistsw-prev,.lifelistsw-next{
		position: absolute;
		bottom: 0;
		cursor: pointer;
		font-size: 22px;
		color: #000;
		z-index: 15;
	}
	.lifelistsw-prev{left:0;}
	.lifelistsw-next{right:0;}

/*详细内容*/
	.lifedetails .lifed-cont{width: 100%;}
	.lifedetails .lifed-cont .top-cont{padding: 0 20px;}
	.lifed-cont h2{font-size: 22px;}
	.lifed-cont i:after{margin-bottom: 20px;}
	.lifed-cont-title{margin: 20px 0;}
	.lifed-cont-title h3{font-size: 16px;}
	.lifed-cont p{font-size: 12px;}
	.lifedetails-swiper{margin-top: 20px;}
	.lifedetailssw-tab{top: 40%;}
	.lifedetailssw-prev,.lifedetailssw-next{
		font-size: 26px;
		padding: 0 5px;
	}
/*品牌合作*/
	.brandlist{padding: 15px 0 50px 0;}
	.brandliswbox{width: 100%;}
	.brandsummary .summary-cont{
		padding: 5px;
	}
	.brandsummary .summary-cont h3{
		font-size: 16px;
		padding-left: 5px;
	}
	.brandsummary .summary-cont p{
		font-size: 10px;
		padding: 5px 10px 0 10px;
		line-height: 1.5;
		width: 100%;
		height: 55%;
		overflow : hidden;
		text-overflow: hidden;		
	}
	.brandsummary .summary-cont span{
		font-size: 10px;
		bottom: 5px;
		width: 90%;
		padding-top: 3px;
	}
	.brandlistsw-tab1{
		width: 20%;
		left:40%;
		top:auto;
		bottom: -45px;
	}
	.brandlistsw-prev,.brandlistsw-next{font-size: 24px;}
	.brandlistsw-prev{left: 0;}
	.brandlistsw-next{right: 0;}
/*品牌内容*/
	.brandcont{
		width: 100%;
		padding: 0 15px;
	}
	.brandconimg img{
		width: 35%;
		height: auto;
	}
	.brandcont i:after{
		width: 40px;
		margin: 20px auto;
		margin-bottom: 10px;
	}
	.brandcontbox>.iconfont{
		font-size: 20px;
		bottom: -20px;
	}
/*产品图片列表*/
	.brandpic{padding: 30px 0 10px 0;}
	.brandpicswbox{width: 100%;}
	.brandpicsw-tab2{bottom: -25px;}
	.brandpicsw-tab2 .swiper-pagination{bottom: 25px;}
	.brandpicsw-tab2 .swiper-pagination-bullet{font-size: 16px;}
}